[Desktop Entry]
Name=Fluff Package Helper
Comment= Fluff Linux Helper for foreign package files
Exec=/usr/bin/flufflinux-packagehelper "%f"
Icon=package
Terminal=false
Type=Application
Categories=System;PackageManagement;
NoDisplay=true

MimeType=application/vnd.debian.binary-package;application/x-deb;application/x-debian-package;application/x-debian-packages;application/x-rpm;application/x-redhat-package-manager;
